/* Estilos generales */
body {
    font-family: Cambria Math, sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 715px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        margin-bottom: 10px; /* Agrega separación entre h1 y nav */
    }

    nav {
        text-align: center; /* Centra los elementos del nav horizontalmente */
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        margin: 0 5px; /* Añade un pequeño margen entre los elementos del nav */
    }
}


.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #6B9080;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

        nav ul li a {
            color: #F6FFF8;
            text-decoration: none;
            transition: color 0.3s ease; /* Transición suave para el cambio de color */
        }

            nav ul li a:hover {
                color: #A4C3B2; /* Cambio de color al pasar el mouse */
            }

.section {
    padding: 20px;
}

/* Estilos para el footer */
footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center; /* Alinea el texto al centro */
}

.footer {
    width: 90%;
    margin: 0 auto; /* Centra el contenido */
}

/* Estilos generales */
.operacion {
    margin-bottom: 20px;
    text-align: center;
}

.ejemplos {
    display: none;
}

    .ejemplos.show {
        display: block;
    }

.toggleButton {
    cursor: pointer;
    background-color: #CCE3DE;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}

    .toggleButton:hover {
        background-color: #A4C3B2;
    }


.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }
